* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "IBM Plex Mono", monospace;
}

#container {
    width: 100%;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(1, 1, 22);
    align-items: center;
    padding: 15px 40px;
}

.logo {
    color: rgb(236, 248, 237);
    font-size: 30px;
    font-weight: 600;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.list-item a {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: antiquewhite;

}

#home {
    background-color: rgb(236, 227, 227);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.image1 {
    width: 400px;
    height: auto;
    position: absolute;
    right: 100px;
    bottom: 100px;
    top: 100px;
    left: 200px;
    border-radius: 200px;

}

#username {

    font-size: 40px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    margin-left: 500px;
    font-weight: 300px;
    color: rgb(15, 16, 17);
}

#user-details {
    font-size: 20px;
    margin-bottom: 0px;
    font-family: "Roboto", sans-serif;
    margin-left: 500px;
    font-weight: 100px;
    color: rgb(2, 11, 19);
}
#download{
    text-decoration: none;
    background-color: rgb(7, 6, 6);
    color: rgb(235, 227, 227);
    padding: 10px;
    margin-top: 30px;
    border-radius: 20px;
    display: inline-block;
    margin-left: 150px;
}
#about{
    margin: 40px 15% 30px 20%;
   
}
.sectionhead{
    text-align: center;
}
.mainhead{
    font-size: 45px;
    text-align: center;

}
.subhead{
    font-size: 20px;
    color: blue;
}
.aboutbody{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2,1rem;
    align-items: center;
}
    
.Img1{
 width:80%;
border-radius: 10px;
    
}
.aboutcontent{
    font-size: 20px;
    text-align: justify;
}
#skills{
    margin: 50% 8% 0% 8% ; 
}
.skillpro{
    text-align: center;
    font-size: 35px;
    font-weight: 700px;
 }

.skill-content {
  padding: 20px;
  text-align: left;
  
  
}
.list-item{
    font-size: 20px;
    margin-top: 2px;

}
 #contact{
    margin: 8% 8% 0px 8%;
}
.iconcollection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    background-color: rgb(223, 235, 235);
}
.icon{
    background-color: rgb(212, 228, 228);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}
.brands{
    color: black;
    font-size: 2rem;
}
.icon:hover{
    background-image:linear-gradient(to bottom right,rgb(27, 13, 153),rgb(107, 7, 74),rgb(212, 14, 179));
}
.icon:hover .brands{
    color:rgb(245, 243, 243);
    /* animation */
    animation: rotate 3s;
}
@keyframes rotate{
    0%{
        transform: rotate(30deg);
    }
     20%{
        transform: rotate(-30deg);
    }
     40%{
        transform: rotate(30deg);
    }
     60%{
        transform: rotate(-30deg);
    }
}
footer{
    margin-top: 8%;
}
#copyright{
    text-align: center;
    font-weight: 400;
}
.upArrow{
    float: right;
    margin: -40px 20px 20px 0px;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: rgb(9, 51, 51);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(213, 213, 226);
    border-radius: 10px;
}


