* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "IBM Plex Mono", monospace;
}

#container {
    width: 100%;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(1, 1, 22);
    align-items: center;
    padding: 15px 40px;
}

.logo {
    color: rgb(236, 248, 237);
    font-size: 30px;
    font-weight: 600;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.list-item a {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: antiquewhite;

}

#home {
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./image/background2.avif);
}

.image1 {
    width: 400px;
    height: auto;
    position: absolute;
    right: 100px;
    bottom: 100px;
    top: 100px;
    left: 200px;
    border-radius: 200px;
}

.img {
    position: absolute;
    height: 100%;
    bottom: 0px;
    left: 100%;
    transform: translateX(-100%);
    transition: bottom 2s, left 1s;
}

#username {

    font-size: 40px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 300px;
    color: rgb(249, 250, 250);
}

#user-details {
    font-size: 20px;
    margin-bottom: 0px;
    font-family: "Roboto", sans-serif;
    margin-left: 0px;
    font-weight: 100px;
    color: rgb(244, 246, 247);
}

#download {
    text-decoration: none;
    background-color: rgb(7, 6, 6);
    color: rgb(235, 227, 227);
    padding: 10px;
    margin-top: 30px;
    border-radius: 20px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 0px;
}
/* about */
body{
    background-image: url(./image/background2.avif);
    width: 100%;
    height: 100vh;
    
}
#about{
    margin: 8% 18% 20% 20%;
}
.container{
    width: 90%;
    max-width: 950px;
    margin: 40px;
    padding: 20px;
}
.mainhead{
    font-size: 45px;
    text-align: center;
    color: white;
   
}
    
.image{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: fixed;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0);
    padding: 20px;
   
}
.img1{
    width: 200px;
    border-radius: 85%;
    height: 30vh;
}
.aboutsection{
    margin-top: 1.4rem;
    font-size: 20px;
    color: white;
}
.aboutcontent {
    font-size: 20px;
    text-align: justify;
}

.inbox{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
   
}
.inbox>span{
    margin-left: 2rem;
}
/* skills */
#skills{
   margin: 8% 20% 20% 20%;
}
.skillhead{
    text-align: center;
    font-size: 25px;
    color: white;
    
}
.skillcontent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 20px;
}
.bars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 0px;
    color: white;
}
.barhead,.barpercent{
    font-size: 1.3rem;
    font-weight: 500;
}
.basebar{
    width: 100%;
    height: 0.5rem;
    background-color: rgb(219, 228, 219);
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
}
.hbar{
    background-color:  rgb(175, 59, 6);
    width: 95%;
   
}
.csbar{
    background-color: rgb(175, 59, 6);
    width: 85%;
}
.jbar{
    background-color: rgb(175, 59, 6);
    width: 78%;
}
.cbar{
    background-color:  rgb(175, 59, 6);
    width: 75%;
}
/* contact */
#contact{
    margin: 8% 8% 0px 8%;
}
.iconcollection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color: rgb(160, 82, 147); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}
.brands{
    color: white;
    font-size: 2rem;
}
.icon:hover{
    background-image:linear-gradient(to bottom right,rgb(16, 61, 184),rgb(50, 184, 224),rgb(227, 241, 230));
}
.icon:hover .brands{
    color:rgb(245, 243, 243);
    /* animation */
    animation: rotate 3s;
}
@keyframes rotate{
    0%{
        transform: rotate(30deg);
    }
     20%{
        transform: rotate(-30deg);
    }
     40%{
        transform: rotate(30deg);
    }
     60%{
        transform: rotate(-30deg);
    }
}
footer{
    margin-top: 8%;
}
#copyright{
    text-align: center;
    font-weight: 400;
    color: white;
}
.upArrow{
    float: right;
    margin: -40px 20px 20px 0px;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: rgb(18, 24, 24);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(123, 194, 123);
    border-radius: 10px;
}
@media(max-width:760px){
    
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(182, 165, 145);
    }
    .navbar .list-items{
        display: block;
        text-align: center;
        font-size: 1.1rem;
        margin: 1.5rem 0px;

    }
   .container{
        flex-wrap: wrap;
    }
}








